.customBtn{
    margin-right: 10px;
    font-weight:bold;
    background-color:#fff;
    border:none;
    border-radius: 0;
    display: inline-block;
    position: relative;
}
.customBtn:hover{
    color: red;
    background-color: #fff;
}
.customBtn::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: red;
    transition: transform 0.25s ease-out;
}
.customBtn:hover:after{
    transform: scaleX(0.5);
}
.customBtn:active{
    
}